<style type="text/css">
  #slide-me-up{
    width: 100%;
    position: relative;
    background: #c1c1c1 !important;
    max-width: 100%;
    height: 405px;
  }
</style>
<script type="text/javascript">

    </script>
<div id="slide-me-up" class="clearfix ">
  <div id="slider" class="sl-slider-wrapper ">
    <div class="sl-slider">

          <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
            <div class="sl-slide-inner">
              <div class="bg-img bg-img-1"></div>
              <div class="item-description" id="banner-1">
                <p>Спочатку було дитинство, коли кожен з нас був геніальним.</p>
                <small>М.Кузьмин</small>
              </div>
            </div>
          </div>

          <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
            <div class="sl-slide-inner">
              <div class="bg-img bg-img-2"></div>
              <div class="item-description" id="banner-2">
                <p>Вчителі відкривають двері. Входиш ти сам.</p>
                <small>Китайська приказка</small>
              </div>
            </div>
          </div>
        </div><!-- /sl-slider -->

  </div><!-- /slider-wrapper -->
  <nav id="nav-dots" class="nav-dots">
          <span class="nav-dot-current"></span>
          <span></span>
        </nav>
</div>

<script type="text/javascript">

$(function() {

        var Page = (function() {

          var $nav = $( '#nav-dots > span' ),
            slitslider = $( '#slider' ).slitslider( {
              onBeforeChange : function( slide, pos ) {

                $nav.removeClass( 'nav-dot-current' );
                $nav.eq( pos ).addClass( 'nav-dot-current' );

              }
            } ),

            init = function() {

              initEvents();

            },
            initEvents = function() {

              $nav.each( function( i ) {

                $( this ).on( 'click', function( event ) {

                  var $dot = $( this );

                  if( !slitslider.isActive() ) {

                    $nav.removeClass( 'nav-dot-current' );
                    $dot.addClass( 'nav-dot-current' );

                  }

                  slitslider.jump( i + 1 );
                  return false;

                } );

              } );

            };

            return { init : init };

        })();

        Page.init();
      });


</script>
<div class="clearfix" style="height: 50px;"></div>
