    <div id="push"></div>
</div>
    <div id="footer">
        <div class="container_12">
          <div class="grid_4 alpha">&nbsp;</div>
          <div class="grid_4">
            <p class="copy">© 2012 Студія дитячої йоги «Жирафа»</p>
            <%= image_tag "studio-logo.png", :class => "studio_logo fleft" %>
            <span class="studio_link fleft">Зроблено в <a href="http://voroninstudio.eu">дизайн студії Миколи Вороніна</a> <br /> <a href="http://voroninstudio.eu/works/web/veb-sayt-studiyi-dityachoyi-yogi-zhirafa">Інформація про сайт</a></span>
          </div>
          <div class="grid_4 omega">
            <p>тел.: <em>(067) 861-85-52</em> </p>
            <p>@: <a href="mailto:ranirupa@mail.ru">ranirupa@mail.ru</a></p>
          </div>
        </div>
    </div>
  </body>
</html>
