<%= content_tag "h1", page_title, :class => "over_proverb" %>
<div class="proverbs fleft push_1 grid_5">
      <blockquote><em class="begin fleft">«</em><%= container :proverbs %><em class="end fright">»</em></blockquote>
</div>
<div class="clear"></div>