<style type="text/css">
	table.schedule tbody tr td{
		text-align: left;
		margin-left: 20px;
		height: 60px;
	}
	table.schedule tbody tr td i{
		font-size: 14px;
		color: #535353;
		margin-left: 20px;
	}
	table.schedule tbody tr td span{
		margin-left: 20px;
	}
	table.schedule thead tr{
		background: url(thead-bg.jpg) repeat-x #773500;
	}
	table.schedule thead tr th{
		background: url('sep.png') right no-repeat transparent;
		padding: 0 80px;
	}
	table.schedule thead tr th:last-child{
		background: transparent;
	}
	table.schedule tbody tr td.time-field p{
		font-weight: normal !important;
		font-size: 16px;
		margin: 0;
		width: 100%;
	}
	table.schedule tbody tr td.time-field p span{
		font-size: 18px;
		font-weight: bold;
		font-style: italic;
		margin-left: 160px;
		margin-right: 40px;
	}
	table.schedule tbody tr td.time-field p:last-child{
		font-size: 16px !important;
		font-weight: normal !important;
		font-style: normal !important;
	}
	table.schedule tbody tr td{
		padding: 0 1%;
	}
	table.schedule tbody tr td{
		border-right: 1px solid #f0f0f0f;
	}
</style>
<h2></h2>
<table class="schedule-table schedule">
	<thead>
		<tr>
			<th>Місце знаходження</th>
			<th>Діти 4 &mdash; 9 років</th>
			<th>Підлітки 10 &mdash; 15 років</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>
				<span class="add-heading">Центр</span> <br><br>
				<i>вул. Менцинського, 5</i>
			</td>
			<td class="time-field">
				<p>Понеділок</p>
				<p>Середа<span>17:00 - 18:00</span></p>
				<p>П'ятниця</p>
				<br>
				<p>Субота<span>11:00 - 12:00</span></p>
			</td>
			<td class="time-field">
				<p>Вівторок<span>17:00 - 18:00</span></p>
				<p>Четвер<span>17:00 - 18:00</span></p>
				<br>
				<p>Субота<span>10:00 - 11:00</span></p>
			</td>
		</tr>

		<tr>
			<td>
				<span class="add-heading">р-н Чорновола</span> <br><br>
				<i>вул. Масарика, 2</i>
			</td>
			<td class="time-field">
				<p>Середа<span>16:30 - 17:30</span></p>
				<p>П'ятниця<span>16:30 - 17:30</span></p>
			</td>
			<td class="time-field">

			</td>
		</tr>

		<tr>
			<td>
				<span class="add-heading">р-н Наукова</span> <br><br>
				<i>вул. Наукова, 436</i>
			</td>
			<td class="time-field">
				<p>Вівторок<span>16:30 - 17:30</span></p>
				<p>Четвер<span>16:30 - 17:30</span></p>
			</td>
			<td class="time-field">

			</td>
		</tr>

		<tr>
			<td>
				<span class="add-heading">Сихів</span> <br><br>
				<i>пр-т Червоної Калини, 62a</i>
			</td>
			<td class="time-field">
				<p>Понеділок<span>16:00 - 17:00</span></p>
				<p>П'ятниця<span>16:00 - 17:00</span></p>
			</td>
			<td class="time-field">

			</td>
		</tr>

	</tbody>

	<tfoot>
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
	</tfoot>
</table>
