<%= render :partial => "partials/header" %>
<div id="content">
  <div class="container_12">
    <%= render :partial => "partials/proverbs" %>
    <div class="grid_12">
      <%= container :blank_block_0 %>
    </div>
  </div>
</div>
<%= render :partial => "partials/footer" %>
